
{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <meta name="title" content="Frequently Asked Questions - Maple Court Yard">
    <meta name="description" content="Find answers to common questions about our handmade greeting cards, delivery, returns, and more at Maple Court Yard.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Frequently Asked Questions - Maple Court Yard">
    <meta property="og:description" content="Find answers to common questions about our handmade greeting cards, delivery, returns, and more at Maple Court Yard.">
    <meta property="og:image" content="https://maplecourtyarddesigns.co.uk/static/img/image.png">
    <meta property="og:url" content="https://www.maplecourtyard.com/faqs/">
{% endblock %}

{% block content %}
          <body class="kagami--v5 template-product ">
      {% include 'includes/header.html' %}

<main id="main" class="main" role="main">
        <header class="page__header" style="margin-bottom: 0;">
  <nav class="breadcrumb" role="navigation" aria-label="Breadcrumb">
  <div class="inner">
    <ul class="breadcrumb__list" itemscope itemtype="http://schema.org/BreadcrumbList">
      <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
        <span class="breadcrumb__title" itemprop="name"><a href="https://maplecourtyarddesigns.co.uk">Home</a></span>
        <meta itemprop="position" content="1">
      </li>

      
        <li data-breadcrumb-separator="/" class="breadcrumb__item breadcrumb__item--active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          
            <span class="breadcrumb__title" itemprop="name">FAQs</span>
          

          <meta itemprop="position" content="2">
        </li>
      
    </ul>
  </div>
</nav>

  <div class="page__header-wrapper">
    <div class="container">
      <h1 class="page__title">FAQs</h1>
    </div>
  </div>
</header>

<div id="shopify-section-faq-template-1" class="shopify-section shopify-section__faq"><section class="container container--shrink page__faq">
  <div class="faq__title"><h2 class="page__title">General Questions</h2></div>
  
    <div class="faq__item" >
      <h3 class="faq__question">
        <span class="faq__question__title">Do you offer discount codes?</span>
        <svg class="icon icon-dropdown-arrow">
          <use xlink:href="#icon-dropdown-arrow"></use>
        </svg>
      </h3>
      <div class="faq__answer page__description"><p>Yes, we do.  We send out special offers and promotional codes from time to time to our newsletter subscribers and followers on Facebook and Instagram. The best way to keep informed is to make sure you are signed up to our newsletter.</p></div>
    </div>
  
    <div class="faq__item" >
      <h3 class="faq__question">
        <span class="faq__question__title">Do you sell your cards wholesale?</span>
        <svg class="icon icon-dropdown-arrow">
          <use xlink:href="#icon-dropdown-arrow"></use>
        </svg>
      </h3>
      <div class="faq__answer page__description"><p>Sorry, we do not sell our handmade cards to wholesale trade at the moment.</p></div>
    </div>
  
    <div class="faq__item" >
      <h3 class="faq__question">
        <span class="faq__question__title">Do you design your cards yourself?</span>
        <svg class="icon icon-dropdown-arrow">
          <use xlink:href="#icon-dropdown-arrow"></use>
        </svg>
      </h3>
      <div class="faq__answer page__description"><p>Yes, we do. All our cards are all designed and handcrafted by us, here in our studio in Liverpool.</p></div>
    </div>
  
    <div class="faq__item" >
      <h3 class="faq__question">
        <span class="faq__question__title">Do you have a brick and mortar shop that I can visit in person?</span>
        <svg class="icon icon-dropdown-arrow">
          <use xlink:href="#icon-dropdown-arrow"></use>
        </svg>
      </h3>
      <div class="faq__answer page__description"><p>Sorry, Maple Court Yard is exclusively an online shop and currently not set up for direct retail sales.</p></div>
    </div>
  
    <div class="faq__item" >
      <h3 class="faq__question">
        <span class="faq__question__title">Can I buy your cards from high street shops or via other online stores?</span>
        <svg class="icon icon-dropdown-arrow">
          <use xlink:href="#icon-dropdown-arrow"></use>
        </svg>
      </h3>
      <div class="faq__answer page__description"><p>The full collection of our handmade cards is available to purchase exclusively at our website - www.maplecourtyarddesigns.co.uk.</p></div>
    </div>
  
    <div class="faq__item" >
      <h3 class="faq__question">
        <span class="faq__question__title">Where is your studio based?</span>
        <svg class="icon icon-dropdown-arrow">
          <use xlink:href="#icon-dropdown-arrow"></use>
        </svg>
      </h3>
      <div class="faq__answer page__description"><p>Maple Court Yard is located in Worksop,Liverpool, UK.</p></div>
    </div>
  
    <div class="faq__item" >
      <h3 class="faq__question">
        <span class="faq__question__title">When did Maple Court Yard launch?</span>
        <svg class="icon icon-dropdown-arrow">
          <use xlink:href="#icon-dropdown-arrow"></use>
        </svg>
      </h3>
      <div class="faq__answer page__description"><p>Maple Court Yard was launched in September 2006 with a mission to create quality and stylish personalised handmade cards. We wanted to offer unique greeting cards that you wouldn&#x27;t find on the high street and made a much more personal cards.</p></div>
    </div>
  
</section>

</div>
<div id="shopify-section-faq-template-2" class="shopify-section shopify-section__faq"><section class="container container--shrink page__faq">
  <div class="faq__title"><h2 class="page__title">Products and Ordering</h2></div>
  
    <div class="faq__item" >
      <h3 class="faq__question">
        I’ve made a mistake in my order. Can I make an amendment? 
        <svg class="icon icon-dropdown-arrow">
          <use xlink:href="#icon-dropdown-arrow"></use>
        </svg>
      </h3>
      <div class="faq__answer page__description"><p>We are pretty quick at making our cards and posting them out. If you&#x27;ve noticed any mistakes in your order confirmation email, please <a href="{% url 'contact_us' %}" title="Contact Us"><strong>contact us</strong></a> as soon as you can and we&#x27;ll do our very best to apply your changes before dispatch. Unfortunately it is not possible to make any alterations to your order after it is dispatched.</p></div>
    </div>
  
    <div class="faq__item" >
      <h3 class="faq__question">
        Is it possible to have one of your birthday cards turned into a thank you card? 
        <svg class="icon icon-dropdown-arrow">
          <use xlink:href="#icon-dropdown-arrow"></use>
        </svg>
      </h3>
      <div class="faq__answer page__description"><p>Yes, it is possible. All our designs, including birthday cards, can be personalised online with your own words on front and inside and therefore can be used as a thank you card (and vice versa).</p></div>
    </div>
  
    <div class="faq__item" >
      <h3 class="faq__question">
        Can you make one of your cards with different colour ribbons or crystals? 
        <svg class="icon icon-dropdown-arrow">
          <use xlink:href="#icon-dropdown-arrow"></use>
        </svg>
      </h3>
      <div class="faq__answer page__description"><p>Yes, it is possible for some of our cards to be customised using different colours of ribbons, crystals, roses, etc. Please let us know which design you are particularly interested in, your colour theme, and we will get back to you with possible customisation options.</p></div>
    </div>
  
    <div class="faq__item" >
      <h3 class="faq__question">
        Can you make a bespoke card from artwork or an idea that I have? 
        <svg class="icon icon-dropdown-arrow">
          <use xlink:href="#icon-dropdown-arrow"></use>
        </svg>
      </h3>
      <div class="faq__answer page__description"><p>Unfortunately no. We do not take orders for custom made cards at the moment.</p></div>
    </div>
  
    <div class="faq__item" >
      <h3 class="faq__question">
        I ordered a card and haven’t received a confirmation. Did my order go through? 
        <svg class="icon icon-dropdown-arrow">
          <use xlink:href="#icon-dropdown-arrow"></use>
        </svg>
      </h3>
      <div class="faq__answer page__description"><p>You are supposed to receive an order confirmation email after your order being placed. If you haven&#x27;t received a confirmation email, please check your junk or spam mail filter. If you still can&#x27;t find this email, please <a href="{% url 'contact_us' %}" title="Contact Us"><strong>contact us</strong></a> and we will investigate.</p></div>
    </div>
  
    <div class="faq__item" >
      <h3 class="faq__question">
        Can I place an order on the phone? 
        <svg class="icon icon-dropdown-arrow">
          <use xlink:href="#icon-dropdown-arrow"></use>
        </svg>
      </h3>
      <div class="faq__answer page__description"><p>Unfortunately it is not possible for us to take orders over the phone at the moment.  All orders need to be placed via our website. If you are having trouble placing an order online, please do not hesitate to <a href="{% url 'contact_us' %}" title="Contact Us"><strong>contact us</strong></a> and we will try to help you in every possible way to fix any issues you may be having. </p></div>
    </div>
  
    <div class="faq__item" >
      <h3 class="faq__question">
        What forms of payments do you accept? 
        <svg class="icon icon-dropdown-arrow">
          <use xlink:href="#icon-dropdown-arrow"></use>
        </svg>
      </h3>
      <div class="faq__answer page__description"><p>We accept Visa credit and debit cards, and Master Card . We also accept PayPal .</p></div>
    </div>
  
</section>


</div>
<div id="shopify-section-faq-template-3" class="shopify-section shopify-section__faq"><section class="container container--shrink page__faq">
  <div class="faq__title"><h2 class="page__title">Delivery and Returns</h2></div>
  
    <div class="faq__item" >
      <h3 class="faq__question">
        How quickly shall I get my order? 
        <svg class="icon icon-dropdown-arrow">
          <use xlink:href="#icon-dropdown-arrow"></use>
        </svg>
      </h3>
      <div class="faq__answer page__description"><p>We  aim to dispatch orders for individual cards in 1-2 days, Monday to Friday. </p><p>If you choose our Royal Mail 48 delivery option, your order should arrive to you within 2-4 business days from dispatch day.</p><p>Larger orders  - we aim to dispatch within 5-7 working days.</p><p>International orders can take up to 3 weeks to be delivered. </p><p>Please see our <a href="{% url 'delivery_and_returns' %}" title="Delivery & Returns"><strong>delivery terms</strong></a> for more information.</p><p></p></div>
    </div>
  
    <div class="faq__item" >
      <h3 class="faq__question">
        How much is shipping? 
        <svg class="icon icon-dropdown-arrow">
          <use xlink:href="#icon-dropdown-arrow"></use>
        </svg>
      </h3>
      <div class="faq__answer page__description"><p>Standard UK delivery (Royal Mail 48 Tracked) is free for all UK mainland orders.</p><p>Delivery charges for International deliveries are based on weight and are calculated at checkout.</p></div>
    </div>
  
    <div class="faq__item" >
      <h3 class="faq__question">
        Can I specify a delivery date when placing an order? 
        <svg class="icon icon-dropdown-arrow">
          <use xlink:href="#icon-dropdown-arrow"></use>
        </svg>
      </h3>
      <div class="faq__answer page__description"><p>Unfortunately, it is not possible to request a delivery date at the moment. It is possible to request a dispatch date. You can choose a future dispatch date on the basket page when placing your order.  Please note that we do not send out orders during weekends.<br/><br/></p></div>
    </div>
  
    <div class="faq__item" >
      <h3 class="faq__question">
        Can you send my card  straight to recipient and not my home address? 
        <svg class="icon icon-dropdown-arrow">
          <use xlink:href="#icon-dropdown-arrow"></use>
        </svg>
      </h3>
      <div class="faq__answer page__description"><p>Yes, we can post your card direct to recipient. Please choose &#x27;Send Direct to Recipient&#x27; posting option at checkout and let us know your recipient&#x27;s delivery address when placing your order.</p><p></p></div>
    </div>
  
    <div class="faq__item" >
      <h3 class="faq__question">
        Will you include an invoice with &#39;Send direct to recipient&#39; order? 
        <svg class="icon icon-dropdown-arrow">
          <use xlink:href="#icon-dropdown-arrow"></use>
        </svg>
      </h3>
      <div class="faq__answer page__description"><p>We do not include any sales receipts, invoices, dispatch notes or other paper work with 'Send Direct to Recipient' orders. However, please let us know if you need such invoice for yourself, and we will send it to you by email. </p></div>
    </div>
  
    <div class="faq__item" >
      <h3 class="faq__question">
        Can I buy two cards as one order to be sent to two different addresses? 
        <svg class="icon icon-dropdown-arrow">
          <use xlink:href="#icon-dropdown-arrow"></use>
        </svg>
      </h3>
      <div class="faq__answer page__description"><p>Unfortunately no. You&#x27;ll need to place two separate orders if you wish to send your cards to two different addresses to make sure that VAT and delivery charges calculated correctly.</p></div>
    </div>
  
    <div class="faq__item" >
      <h3 class="faq__question">
        Do you ship internationally? 
        <svg class="icon icon-dropdown-arrow">
          <use xlink:href="#icon-dropdown-arrow"></use>
        </svg>
      </h3>
      <div class="faq__answer page__description"><p>We have temporary suspended all international deliveries due to significant delays caused by coronavirus pandemic.</p></div>
    </div>
  
    <div class="faq__item" >
      <h3 class="faq__question">
        My order hasn&#39;t arrived. Can you help? 
        <svg class="icon icon-dropdown-arrow">
          <use xlink:href="#icon-dropdown-arrow"></use>
        </svg>
      </h3>
      <div class="faq__answer page__description"><p>Don&#x27;t worry. If your order never arrived, please <a href="{% url 'contact_us' %}" title="Contact Us"><strong>contact us</strong></a>, tell us your order number and what you ordered, and we’ll try to help you in very possible way.</p><p></p><p>Please also remember that during busy times (especially in December around Christmas) deliveries can take a little bit longer than usual to arrive.</p></div>
    </div>
  
    <div class="faq__item" >
      <h3 class="faq__question">
        My order arrived incomplete or damaged. What should I do? 
        <svg class="icon icon-dropdown-arrow">
          <use xlink:href="#icon-dropdown-arrow"></use>
        </svg>
      </h3>
      <div class="faq__answer page__description"><p>All our orders are suitably packaged in outer protective sturdy packaging to ensure that they arrive to you in perfect condition. But occasionally parcel can still be damaged during transit by Royal Mail or courier. If your order arrived incomplete or damaged, please <a href="{% url 'contact_us' %}" title="Contact Us"><strong>contact us</strong></a>, tell us your order number and what you ordered, and we’ll send out a replacement as soon as possible.</p></div>
    </div>
  
    <div class="faq__item" >
      <h3 class="faq__question">
        What is your return policy? 
        <svg class="icon icon-dropdown-arrow">
          <use xlink:href="#icon-dropdown-arrow"></use>
        </svg>
      </h3>
      <div class="faq__answer page__description"><p>We would like you to be 100% satisfied with your Maple Court Yard purchase. We carefully produce our cards of the highest quality and describe our products in as much detail as possible to avoid any disappointment when they arrive. If you need to return your order, you must do so within 30 days of receipt.</p><p></p><p>To request a return, please <a href="{% url 'contact_us' %}" title="Contact Us"><strong>contact us</strong></a>,  state your order number and/or name and address and the reason for the return and we will advise you how to return your goods.</p></div>
    </div>
  
</section>



</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    $('body').on('click', '.faq__question', function() {
      $(this).next('.faq__answer').slideToggle(250);
    });
  });
</script>

<div id="shopify-section-faq-template-contact" class="shopify-section shopify-section__faq-contact"><section class="container container--shrink">
  
  


    <div class="container container--shrink container_contact" style="display:none;">
      <h2 class="page__title">Have More Questions?</h2>
      <br>
      
    <div class="contact">
      <form method="post" action="{% url 'contact_us' %}" id="contact_form" accept-charset="UTF-8" class="contact__form"><input type="hidden" name="form_type" value="contact" /><input type="hidden" name="utf8" value="✓" />
        

        

        <div class="form__control">
          <input type="text" id="contact__name" name="contact[name]" placeholder="Your Name">
        </div>

        <div class="form__control">
          <input type="email" id="contact__email" name="contact[email]" required="required" placeholder="Email Address">
        </div>

        <div class="form__control">
          <textarea rows="5" cols="75" id="contact__body" name="contact[body]" required="required" placeholder="What question do you have?"></textarea>
        </div>

        <input type="submit" class="button button--primary" value="Submit">
      </form>
    </div>
  
    </div>
  
</section>

</div>



      </main>
      {% include 'includes/footer.html' %}
      </body>
      {% endblock %}
